
.footerSection{
	color: #eee;
	/*background: red;*/
	width: 25%;
	padding: 1%;
	vertical-align: top;
	display: inline-block;
	margin-right: 5%;
	/*background: pink;*/
}
.group-day{
	/*background: red;*/
}
.footerSection .group-day .day{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	/*background: green;*/
}
.footerSection h3{
	text-align: center;
}
.footerSection .group-day .descriptionSchedule{
	display: block;
	margin-left: 2%;
}
.bodyImage{
	width: 80%;
	display: block;
	margin: 0 auto;
	/*background: red;*/
}
.bodyImage img{
	width: 20%;
	margin-bottom: 2%;
	margin-right: 2%;
}
#twitter-widget-0{
	width: 100%;
}
#fb-root {
    display: none;
}
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    background: #FFFFFF;
}
#twitter-widget-0{
   width: 100% !important;  
}|
.one-six{
	display: block;
	margin: 0 auto;
	width: 80%;
	/*background: red;*/
	text-align: center;
}
.history h2{
	text-align: center;
	font-family: 'bellota';
}
.history .one-six img{
	width: 20%;
}
.history p{
	text-align: justify;
	font-family: 'Comic Sans MS';
	font-size: 1em;
}
.history{
	width: 60%;
	/*background: #5EB950;*/
}
.social{
	width: 19.5%;
	background: skyblue;
}
.history,.social{
	display: inline-block;
	vertical-align: top;
}
.adFeed{
	min-height: 60px;
	width: 30%;
	/*background: #FB9B20;*/
	background: #F8C63D;
	min-height: 310px;
	display: inline-block;
	padding-top: 2%;
}

.sectionfirst .tile h2, .adFeed h2{
	margin: 0;
	text-align: center;
	font-family: 'track';
	font-size: 1.5em;
}
.adFeed h2{
	font-family: 'bellota';
	font-size: 2em;
	margin-bottom: 10%;
}
.adFeed p{
	font-size: 1.5em;
	font-family: 'openSans';
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	line-height: 25px;
}
.adFeed img{
	display: block;
	margin: 0 auto;
	width: 20%;

}
.sectionfirst .tile{
	width: 30%;
	/*background: #4AA3DF;*/
	padding: 1%;
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.sectionfirst .tile p{
	font-family: Lato,Arial,sans-serif;
	text-align: justify;
	font-family: 'bellota';
}
.sectionfirst{
	width: 100%;
	min-height: 40px;
	background: white;
	margin: 0;
}
.sectionfirst img{
	width: 15%;
	display: block;
	margin: 0 auto;
}
.imgslide{
	/*max-height: 300px;*/
	min-height: 150px;
	max-height: 250px;
}
.flexslider,.socialMediaPlugin{
	display: inline-block;
	vertical-align: top;
}
.flexslider{
	width: 100%;
	margin-left: 1%;
	border: none;
	margin: 0 auto;	
	display: block;
}
.socialMediaPlugin{
	width: 100%;
	min-height: 100px;
	height: 300px;
	max-height: 300px;
	display: block;
	/*margin-left: 1%;*/
}
#pluginFacebook{
	width: auto;
	margin: 0;
	background: #ecf0f1;
}
.bodyContent{
	/*width: 90%;*/
	/*display: block;*/
	/*margin: 0 auto;*/
	padding-bottom: 0;
	/*background: green;*/
}

.flex-control-nav,.flex-control-paging{
	display: none;
}
@media only screen and (max-width: 768px) {
	.bodyImage img{
		width: 30%;
	}
}
@media only screen and (max-width: 700px) {
	.sectionfirst .tile{
		/*margin-right: 5%;*/
		width: 47%;
	}
	.sectionfirst .tile img{
		width: 20%;
	}
	.bodyImage{
		width: 100%;
		padding-left: 1%;
	}
	.bodyImage img{
		width: 30%;
		margin-right: 1%;
	}
	.footerSection{
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 400px){
	.sectionfirst .tile{
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	
	.bodyImage img{
		display: block;
		margin: 0 auto;
		width: 90%;
		margin-top: 2%;
	}
}
